body{
    background-color: midnightblue;
}

.box{
    height: 500px;
    width: 400px;
    text-align: center;
    border: solid;
    border-radius: 20px;
    border-color: orange;
    border-width: 10px;
    margin-left: 550px;
    margin-top: 100px;
    padding: 10px;
}

#login{
    background-color: White;
    color: black;
    border: 2px solid red;
}

#login:hover{

    background-color:red ;
    color: white;
}

h1{
    font-family: cursive;
    margin: 10px;
    color: white;
    
}

@media (max-width:700px){

    .box{
        height: 500px;
        width: 400px;
        margin-left: 150px;
        
    }

    h1{
        margin: 10px;
    }
}

@media (min-width:790px) and (max-width:1000px){
    .box{
        height: 500px;
        width: 400px;
        margin-left: 300px;
        
    }

    h1{
        margin: 10px;
    }
}

@media (max-width:790px){

        .box{
            height: 500px;
            width: 400px;
            margin-left: 70px;
        }

        h1{
            margin: 10px;
        }
}




