.Payment{

    height: 500px;
    width: 450px;
    background-color: orange;
    border-radius: 40px;
    margin-left: 550px;
    margin-top: 100px;
    padding: 30px;
    
    
}

h1{
    font-family: cursive;
    text-align: center;
    color: white;
    margin-left:300px;
    
}

button:hover{
    background-color: red;
    color: white;
}

input,button{
    margin: 45px;
}

.Gateway{
    background-color: midnightblue;
    text-align: center;
}

.render{
    height: 3.48vw;
    width: 3.48vw;
    border: dashed black;
    border-width: 1.3vw;
    border-radius: 2vw;
    margin-left:50vw;
    margin-top: 10vw;
    animation: rotate .5s linear forwards;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
        opacity: 1;
    }

    to{
        transform: rotate(360deg);
        opacity: 0.5;
    }


}

h3{
    font-family: cursive;
    text-align: center;
}

.CheckStatus{
    margin-top: 14.6vw;
    margin-left: 30vw;
}

.Animation{
    display: flex;
    flex-wrap:wrap;
    gap: 1.4vw;
    margin-left: 2.5vw;

}



.CheckPoint{

    position: relative;
    height: 7.2vw;
    width: 7.2vw;
    margin-left: 30vw;
    margin-top: 3vw;

}

.CheckPoint::before {

content: "";
margin-left: 14.8vw;
margin-top: 1.8vw;
position: fixed;
width: 7.2vw;
height:7.2vw;
border:groove green ;
border-width: .64vw;

animation: drawCheck .5s ease-out forwards;
}


@keyframes drawCheck{

from{
    width: 0vw;
    height: 0vw;
    border: none;
}

to{
    width: 3.48vw;
    height: 8.2vw;
    border: solid green;
    border-width: 0vw .67vw .67vw 0vw;
    transform: rotate(45deg);
}
}


@media (min-width:950px) and (max-width:1500px){

    .Payment{

        height: 500px;
        width: 400px;
        background-color: orange;
        border-radius: 50px;
        margin-left: 460px;
        margin-top: 100px;
        padding: 25px;
        
        
    }

    h1{
        font-family: cursive;
        margin-left: 100px;
        color: white;
    
    }
}


@media (max-width:950px){

    .Payment{

        height: 500px;
        width: 400px;
        background-color: orange;
        border-radius: 50px;
        margin-left: 80px;
        margin-top: 100px;
        padding: 25px;
        
        
    }

    h1{
        font-family: cursive;
        margin-left: 100px;
        color: white;
    
    }
}




@media (min-width:950px) and (max-width:1110px){

    .Payment{

        height: 500px;
        width: 400px;
        background-color: orange;
        border-radius: 50px;
        margin-left: 450px;
        margin-top: 100px;
        padding: 25px;
        
        
    }

    h1{
        font-family: cursive;
        margin-left: 480px;
        color: white;
    
    }
}
